<!-- <div style="display: none;" *ngIf="validateInspect()"></div> -->
<p-toast></p-toast>
<!-- <app-loader 
      [isFullscreen]="true" 
      [size]="60" 
      [color]="'#FF5733'" 
      [text]="'Loading...'"
    ></app-loader> -->
<ng-container >
  <app-navbar class="sidebar col-md-2" *ngIf="isLoggedUser();"></app-navbar>
  <div [class.container-fluid]="isLoggedUser()">
    <router-outlet [class.col-md-8]="isLoggedUser()"  [class.col-md-12]="!isLoggedUser()"></router-outlet>
  </div>
</ng-container>

