<!-- sidebar.component.html -->
<div class="sidebar">
  <div class="sidebar-header">
    <div class="container text-center mt-1" style="height: 200px; text-align: center">
      @if (UserProfile.length) { @for (item of UserProfile; track $index) {
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" size="xlarge"
        shape="circle" [style]="{ width: '120px', height: '120px' }">
      </p-avatar>
      <p>{{ item?.UserName }}</p>
      <div class="col-12 justify-content-center d-flex gap-2">
        <p-button icon="pi pi-home" aria-label="Save" [routerLink]="['/']" />
        <p-button icon="pi pi-sign-out" aria-label="Save" (onClick)="Logout()"/>  
      </div>      
      } } 
      
    </div>
  </div>

  <ul class="list-unstyled">
    <li *ngFor="let item of ScreenList" class="nav-item">
      <!-- Items with children (dropdown) -->
      <ng-container *ngIf="item.IsHaveChild === 1">
        <a class="nav-link dropdown-toggle" (click)="toggleGroup(item.GroupName)"
          [attr.aria-expanded]="isGroupExpanded(item.GroupName)">
          <i class="{{ item.GroupIcon }}"></i>
          <span *ngIf="!isCollapsed">{{ item.GroupName }}</span>
          <i *ngIf="!isCollapsed" class="fa-solid dropdown-icon"></i>
        </a>

        <!-- Dropdown children -->
        <ul class="submenu" [ngClass]="{ show: isGroupExpanded(item.GroupName) }">
          <li *ngFor="let child of item.Children" class="nav-item">
            <a class="nav-link" [routerLink]="child.WindowUrl" [class.active]="isActive(child.WindowUrl)"
              (click)="setActive(child.WindowUrl)">
              <i class="{{ child.WindowIcon }}"></i>
              <span *ngIf="!isCollapsed">{{ child.WindowName }}</span>
            </a>
          </li>
        </ul>
      </ng-container>

      <!-- Items without children (direct links) -->
      <ng-container *ngIf="
          item.IsHaveChild === 0 && item.Children && item.Children.length > 0
        ">
        <a class="nav-link" [routerLink]="item.Children[0].WindowUrl"
          [class.active]="isActive(item.Children[0].WindowUrl)" (click)="setActive(item.Children[0].WindowUrl)">
          <i class="{{ item.GroupIcon }}"></i>
          <span *ngIf="!isCollapsed">{{ item.GroupName }}</span>
        </a>
      </ng-container>
    </li>
  </ul>
</div>