<!-- Footer -->
<footer class="footer-main text-white pt-5 pb-3">
  <div class="container-fluid">
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 d-flex m-0 p-0 justify-content-center">
      <div class="col-md-2 footer-list align-top">
        <div class="stay-in-touch">
          <img src="/assets/admin-images/login-page-image-2.png" alt="Logo" class="logo">
          <h4>Stay In Touch</h4>
          <p>Sign up for exclusive offers<br>events and more.</p>

          <div class="email-subscribe">
            <input type="email" placeholder="Enter Email">
            <button class="arrow-button">➤</button>
          </div>

          <a href="/contact" class="contact-link">Contact us</a>
        </div>
      </div>
      @for (item of footerData; track $index) {
      <div class="col-md-2 footer-list">
        <div class="gap-3" style="height: 37px;">
          <p class="footer-header">{{item.title}}</p>
        </div>
        <div class="footer-list-child">
          @for (child of item.links; track $index) {
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" cslass="text-decoration-none text-white-50">{{child.label}}</a></li>
          </ul>
          }
        </div>
      </div>
      }
    </div>
  </div>
</footer>