 <!-- Footer -->
 <footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-4">
          <h5 class="mb-3">Shop</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">All Products</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">New Arrivals</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Best Sellers</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Deals & Offers</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
          <h5 class="mb-3">Customer Service</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Contact Us</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">FAQs</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Shipping Policy</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Returns & Refunds</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
          <h5 class="mb-3">About Us</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Our Story</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Blog</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Careers</a></li>
            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50">Press</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
          <h5 class="mb-3">Connect With Us</h5>
          <div class="social-links">
            <a href="#" class="text-white me-2"><i class="fa fa-facebook"></i></a>
            <a href="#" class="text-white me-2"><i class="fa fa-instagram"></i></a>
            <a href="#" class="text-white me-2"><i class="fa fa-twitter"></i></a>
            <a href="#" class="text-white me-2"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
      <hr class="mt-4 mb-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">&copy; 2025 ShopEase. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>