<!-- Top banner -->
<div class="top-banner col-md-12">
    <div class="promo d-flex justify-content-center col-md-12">Summer Sale For All Swim Suits And Free Express Delivery
        - OFF 50%!&nbsp; <span class="shop-now">ShopNow</span></div>
</div>
<!-- Main navigation -->
<nav class="main-nav container-fluid">
    <div class="col-md-12 d-flex">
        <div class="col-md-3 gap-2 justify-content-center d-flex">
            <h1>Exclusive</h1>
        </div>
        <div class="col-md-6 justify-content-center d-flex gap-5">
            <div class="user-home-page-icon">
                <a [routerLink]="'user/user-home'">
                    <h6>Home</h6>
                </a>
            </div>
            <div class="user-home-page-icon">
                <a [routerLink]="'user/user-account-settings'">
                    <h6>Contact</h6>
                </a>
            </div>
            <div class="user-home-page-icon">
                <a [routerLink]="'user/user-account-settings'">
                    <h6>Cart</h6>
                </a>
            </div>
            <div class="user-home-page-icon">
                <a [routerLink]="'user/user-account-settings'">
                    <h6>About</h6>
                </a>
            </div>
            <div class="user-home-page-icon">
                <a [routerLink]="'user/user-account-settings'">
                    <h6>Settings</h6>
                </a>
            </div>
        </div>

        <div class="col-md-2 d-flex justify-content-center">
            <div class="search-container gap-2">
                <div class="search-bar">
                    <input type="text" placeholder="What are you looking for?">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
                <div class="icons gap-4">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                        <div class="icon-badge">5</div>
                    </div>

                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <div class="icon-badge">3</div>
                    </div>
                    <div class="account-icon">A</div>
                    <div class="icon">
                        <button class="logout-button" style="background-color: white; text-decoration: none; border: 0px;" (click)="onLogout()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-log-out">
                                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                <polyline points="16 17 21 12 16 7"></polyline>
                                <line x1="21" x2="9" y1="12" y2="12"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>