@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #edf1f5 !important;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


.p-button {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
  font-size: 1px;
}
.p-button-label {
  font-size: 12px;
  width: 100%;
}
.p-button:hover {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}

.page-header i {
  height: 50px !important;
}
.page-header p {
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 600;
}
.page-header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  top: 70px;
  left: 260px;
  z-index: 1023;
  min-height: 55px;
  padding: 4px 25px;
  box-shadow: none;
  background: #ffffff;
  border-color: #222b45;
  font-weight: 200;
}

.main-content-body {
  padding: 14px;
  background-color: white;
  margin: 14px;
  border-radius: 10px;
}
.my-tooltip-style {
  font-size: 12px;
}

.search-bar {
  display: flex;
  align-items: center; /* Vertically align input and button */
  border: 1px solid #ccc;
  border-radius: 25px; /* Rounded corners */
  padding: 1px;
  max-width: 400px; /* Limit width */  
}

.search-bar input[type="search"] {
  flex-grow: 1; /* Input takes up available space */
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none; /* Remove default focus outline */
  border-radius: 20px; 
  width: 336px;
  height: 43px;
}

.search-btn {
  background-color: #0f1729;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 17px;
  cursor: pointer;
  font-size: 16px;
}

.search-btn:hover {
  background-color: white; /* Darker blue on hover */
  color: #191c36;
}

.search-btn span {
  display: block; /* Ensure correct padding on span */
}

.p-component {
  background-color: #ffffff !important;
  color: #000000 !important;
}





@media (max-width: 600px) {
  .search-bar {
    max-width: 90%;
  }
}
