/* navbar.component.scss */
:host {
  display: block;
  font-family: "Inter", sans-serif;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.navbar {
  display: block;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 97%;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.logo {
  cursor: pointer;

  &:is(-image) {
    height: 32px;
    width: auto;
    object-fit: contain;
  }
}

.logo img {
  height: 63px;
  width: auto;
  object-fit: contain;
}

.main-links {
  display: flex;
  gap: 2rem;
}

.main-links a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.2s;
}

.main-links a &:hover,
.main-links a &.active {
  color: #000;
}

.main-links a &.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}

.action-icons {
  display: flex;
  position: relative;
  padding-left: 1rem;

  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: color 0.2s;
    position: relative;

    &:hover {
      color: #000;
    }
  }

  .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #000;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.category-nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0.6rem 0;
  /* max-width: 1280px; */
  margin: 0 auto;
  overflow-x: auto;
  scrollbar-width: none;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
}

.category-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #555;
  transition: all 0.2s;

  &:hover {
    color: #000;
    transform: translateY(-2px);
  }
}

.nav-link {
padding: 0px 30px 0px 30px !important;
}
.category-image {
  width: 65px;
  height: 65px;
  object-fit: contain;
  margin-bottom: 0.5rem;
  transition: transform 0.2s;
}

.category-label {
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .navbar-container {
    padding: 1rem;
  }

  .main-links {
    gap: 1rem;
  }

  .category-nav {
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1.5rem;
  }
}
.icon-button i {
  font-size: 24px;
}
.custom-icon {
  font-size: 22px;
}
