<div class="main-content">
    <div class="order-list">
        @for (item of OrderDetails; track $index) {
        <div class="order-item">
            <div class="order-header">
                <div class="order-info">
                    <h3>Order No: {{item.OrderNo}}</h3>
                    <div class="order-meta">{{item.OrderCount}} Products | By {{item.OrderBy}} | {{item.OrderDate}}
                    </div>
                </div>
                <div class="order-actions">
                    <a  class="btn btn-outline" (click)="downloadInvoice(item.OrderId)"><i class="fa-solid fa-file-lines"></i> Download invoice</a>
                </div>
            </div>

            <div class="order-details">
                <div class="detail-item">
                    <div class="detail-label">Status:</div>
                    <span class="order-status status-on-way"
                        [ngStyle]="{ 'background-color': item.OrderStatusColour}">{{item.OrderStatus}}</span>
                </div>
                <div class="detail-item">
                    <div class="detail-label">Date of delivery:</div>
                    {{item.DateOfDelivery}}
                </div>
                <div class="detail-item">
                    <div class="detail-label">Agent Number:</div>
                    {{item.AgentNumber}}
                </div>
                <div class="detail-item">
                    <div class="detail-label">Delivered to:</div>
                    {{item.DeliveryAddress}}
                </div>
                <div class="detail-item col-md-12 col-sm-12 col-lg-12 col-xl-12 col-12">
                    <div class="detail-label-1 p-0" style="padding-left: 0px !important;">Shipping Charge: {{item.ShippingFee | inr}}</div>
                    <div class="detail-label-1 p-0" style="padding-left: 0px !important;">Delivery Charge: {{item.DeliveryCharge | inr}}</div>
                </div>
            </div>

            <div style="margin-bottom: 12px;">
                <strong class="total-amount">Total: {{item.TotalAmount | inr}} <span class="order-status status-on-way"
                        [ngStyle]="{ 'background-color': item.PaymentModeColour}">{{item.PaymentMode}}</span></strong>
            </div>

            <div class="product-grid">
                @for (OrderItem of OrderItemDetails; track $index) {
                @if (OrderItem.OrderId === item.OrderId) {
                <div class="product-card">
                    <div class="product-image">
                        <img [src]="baseUrl + '/'+ OrderItem.ProductImage" alt="" style="width: 100%;">
                    </div>
                    <div class="product-info">
                        <div class="product-name">{{OrderItem.ProductName}}</div>
                        <div class="product-details">Quantity: {{OrderItem.Quantity}}x • {{OrderItem.TotalPrice | inr}}
                        </div>
                        <div class="product-details">Size: {{OrderItem.SizeDesc}}</div>
                    </div>
                </div>
                }
                }
            </div>
        </div>
        }
    </div>
</div>