<div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 d-flex">
  <div class="container-fluid home-page d-flex justify-content-end align-items-center">
    <div class="home-page-text">
      <p>Elevate your space <br> with timeless elegance.</p>
      <h1>Dekomart vases — where design meets serenity.</h1>
      <div class="order-know">
        <button class="order-now-btn">Order Now</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #8c4844; height: 30px;">
</div>