<div class="banner-home">
  <div class="promo-banner">
    <div class="banner-image">
      <img src="assets/landing-page-images/dekomart-vases.png" alt="Dekomart Vases" class="fit-image" />
    </div>
    <div class="banner-content">
      <div class="tagline">
        <p class="upper-tagline">WE MAKE BETTER THINGS</p>
        <p class="lower-tagline">IN A BETTER WAY</p>
      </div>
      <h2>Elevate your space<br /><span>with timeless elegance.</span></h2>
      <p class="description">Dekomart vases — where design meets serenity.</p>
      <button class="order-btn">Order Now</button>
    </div>
  </div>

  <div class="foot-bar">
  </div>

  <div class="promo-banner">
    <div class="banner-image">
      <img src="assets/landing-page-images/promoimg.png" alt="Why Dekomart" class="fit-image" />
    </div>
  </div>
</div>