.home-page {
  width: 100%;
  height: 78vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/landing-page-images/home-page.jpg");
}
.home-page-text {
  text-align: end;
  font-size: 78px;
  font-weight: 600;
  color: #8c4844;
  margin-right: 26px;
}
.home-page-text h1 {
  color: black;
  font-size: 36px;
  font-weight: 100;
}
.order-now-btn {
  background-color: white;
  color: #8c4844;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  width: 243px;
  height: 69px;
  cursor: pointer;
  font-size: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.order-now-btn:hover {
  background-color: #f9f3f0;
  transform: translateY(-2px);
}


/******************************************
   Responsive styles for smaller screens 
*******************************************/
@media (max-width: 1200px) {
  .home-page {
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .home-page-text {
    margin: 0;
    p {
      font-size: 6vw;
    }
    h1 {
      font-size: 4.5vw;
    }
  }

  .order-now-btn {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }
}



@media (max-width: 768px) {
  .home-page {
    justify-content: center;
    text-align: center;
    padding: 1rem;
    
  }

  .home-page-text {
    margin: 0;
    p {
      font-size: 6vw;
    }
    h1 {
      font-size: 4.5vw;
    }
  }

  .order-now-btn {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .home-page {
    background-position: left;
  }
  .home-page-text {
    p {
      font-size: 7vw;
    }
    h1 {
      font-size: 5vw;
    }
  }

  .order-now-btn {
    font-size: 0.9rem;
    width: 100%;
  }
}
