.login-page-header {
  height: 72vh auto;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  margin: 25px;
}
.login-page-image {
  height: 100%;
  align-items: flex-end; /* Align image to bottom */
  justify-content: center; /* Optional: center horizontally */
}

.login-page-image img {
  height: 55vh;
  background: #994037;
}
.login-page-image h1,
p {
  color: white;
}

.login-box-text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center; /* horizontal centering */
  text-align: center;
  color: white;
  /* padding: 20px; */
  box-sizing: border-box;
}
.login-box {
  color: #994037;
  padding: 30px 40px;
  border-radius: 10px;
  height: 100%;
  text-align: center;
}

.login-box h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

.login-box p {
  margin-bottom: 20px;
  font-size: 14px;
}
.login-form {
  background-color: #ffffff;
  padding: 6px;
  border-radius: 10px;
  width: 100%;
  max-width: 572px;
  margin: auto;
}

.login-title {
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #333;
}

.text-muted {
  color: #777;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 6px;
  text-align: left;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input[type="email"]:focus-visible,
input[type="text"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="date"]:focus-visible,
input[type="password"]:focus-visible {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: #994037;
  border: none;
}

input.invalid-input {
  border-color: #e74c3c;
  /* background-color: #ffe6e6; */
}

.error-message {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 9px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #a94442;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #922d2d;
}

.error-alert {
  background-color: #fdecea;
  color: #a94442;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}
.shadow {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  font-size: 13px;
}
.login-page-main-header {
  height: 100%;
  background-color: #a94442;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.register-button {
  width: 100%;
  padding: 12px;
  background-color: #a94442;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.register-button:disabled {
  background-color: #a944423d;
}

@media screen and (max-width: 991px) {
  .login-page-image {
    display: none;
  }
}

@media screen and (max-width: 759px) {
  .d-flex {
    display: flow !important;
  }
}
::placeholder {
  color: #999;
  font-style: italic;
  font-size: 14px;
}

.d-flex {
  display: flex;
}
@media (max-width: 767.98px) {
  .login-page-main-header {
    padding: 1rem !important;
    height: auto !important;
  }
  .login-box-text {
    font-size: 1.25rem !important;
  }
}
@media (max-width: 575.98px) {
  .login-page-main-header {
    padding: 0.5rem !important;
  }
  .login-box-text {
    font-size: 1rem !important;
  }
}
