<div class="main-header">
    <div class="col-md-12 page-header d-flex">
        <i class="fas fa-user fa-xl" style="color: black; padding-top: 22px;"></i>
        <h6 style="font-size: 18px;font-size: 18px;padding-left: 16px;padding-top: 5px;">Reference Data</h6>
    </div>
    <div class="main-header-content">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="add-container" style="display: flex; justify-self: end;">
                    <p-button label="Category" icon="pi pi-plus" size="large" (click)="addCategoryDialog()" />
                </div>
                <div class="search-container">
                    <input type="text" pInputText [(ngModel)]="searchTerm" (input)="filterMenu()"
                        placeholder="Search categories..." />
                    <i class="pi pi-search"></i>
                </div>
            </div>
            <p-panelMenu [model]="menuItems" [style]="{ width: '300px' }"></p-panelMenu>
        </div>

        <div class="content">
            <div class="header">
                <h2>{{ selectedCategory }}</h2>
                <p-button label="SubCategory" icon="pi pi-plus" size="large" (click)="subCategoryDialog()" />
            </div>

            <div class="category-container">
                <div class="category-box" *ngFor="let category of categories">
                    <div class="category-header">
                        <div class="category-title">{{ category.name }}</div>
                        <div class="action-buttons">
                            <button class="edit-btn" (click)="editCategory(category)">
                                <i class="pi pi-pencil"></i>
                            </button>
                            <button class="delete-btn" (click)="deleteCategory(category)">
                                <i class="pi pi-trash"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="category-list">
                        <li *ngFor="let item of category.items">{{ item }}</li>
                    </ul>
                    <span class="show-all" (click)="viewAllCategories(category)">Show all →</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card flex justify-start">
    <p-dialog header="New Category" [modal]="true" [(visible)]="addCategoryVisible" [style]="{ width: '25rem' }">
        <div class="input-container">
            <p-floatlabel variant="on">
                <input pInputText id="category_Id" [(ngModel)]="categoryId" pSize="large" autocomplete="off" />
                <label for="category_Id">Category Id</label>
            </p-floatlabel>
        </div>
        <div class="input-container">
            <p-floatlabel variant="on">
                <input pInputText id="category_Name" [(ngModel)]="categoryName" pSize="large" autocomplete="off" />
                <label for="category_Name">Category Name</label>
            </p-floatlabel>
        </div>
        <div style="display: flex; justify-content: end; padding-top: 10px;">
            <p-button label="Cancel" severity="success" (click)="addCategoryVisible = false" />
            <p-button label="Save" severity="danger" (click)="addCategoryVisible = false" />
        </div>
    </p-dialog>
</div>

<div class="card flex justify-start">
    <p-dialog header="{{ selectedCategory }}" [modal]="true" [(visible)]="allCategoriesVisible"
        [style]="{ width: '30rem' }">
        <div class="tree-container">
            <h3>Categories</h3>

            <button *ngIf="isMultiSelection()" (click)="deleteSelectedNodes()" class="top-delete-btn">
                🗑 Delete Selected
            </button>

            <p-tree [value]="files" [filter]="true" selectionMode="checkbox" [(selection)]="selectedNodes"
                class="custom-tree">

                <ng-template let-node let-parent="parent" pTemplate="default">
                    <div class="node-container">
                        <p-checkbox [ngModel]="selectedNodes.includes(node)"></p-checkbox>
                        <span class="node-label">{{ node.label }}</span>

                        <div class="action-buttons" *ngIf="isSingleSelection() && selectedNodes[0] === node">
                            <button (click)="editNode(node)" class="edit-btn">✏️ Edit</button>
                            <button (click)="deleteNode(node, parent)" class="delete-btn">🗑 Delete</button>
                        </div>
                    </div>
                </ng-template>

            </p-tree>
        </div>
    </p-dialog>
</div>

<div class="card flex justify-start">
    <p-dialog header="Sub Category" [modal]="true" [(visible)]="subCategoryVisible" [style]="{ width: '25rem' }">
        <div class="input-container">
            <p-floatlabel variant="on">
                <input pInputText id="category_Id" [disabled]="true" pSize="large" [(ngModel)]="selectedCategory"
                    autocomplete="off" />
                <label for="category_Id">Selected Category</label>
            </p-floatlabel>
        </div>
        <div class="input-container">
            <p-floatlabel variant="on">
                <input pInputText id="category_Name" pSize="large" [(ngModel)]="subCategoryName" autocomplete="off" />
                <label for="category_Name">Sub Category Name</label>
            </p-floatlabel>
        </div>
        <div style="display: flex; justify-content: end; padding-top: 10px;">
            <p-button label="Cancel" severity="success" (click)="addCategoryVisible = false" />
            <p-button label="Save" severity="danger" (click)="addCategoryVisible = false" />
        </div>
    </p-dialog>
</div>