<div class="main-header">
    <div class="col-md-12 page-header d-flex">
        <i class="fa-solid fa-database fa-xl" style="color: black; padding-top: 22px;"></i>
        <h6>Reference Data</h6>
    </div>
    <div class="main-content-body">
        <div class="table-container d-flex row">
            <div class="col-md-12 d-flex">
                <div class="col-md-4 ref-data-group">
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="col-md-12 d-flex">
                            <i class="fa-regular fa-object-group me-2"></i>
                            <h6>Group</h6>
                        </div>
                    </div>
                    <div class="col-md-12 group-data-header">
                        @for (item of GroupData; track $index) {
                        <div class="col-md-12 group-data"
                            [ngClass]="ActiveGroup === item.GroupName ? 'group-data-active' : ''"
                            (click)="getChildData(item.GroupName)">
                            <h6>{{item.GroupNameDesc}}</h6>
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-8 ref-data-child-data-header">
                    <div class="col-md-12 ref-data-child-data">
                        <h6> {{ ActiveGroupDesc }}</h6>
                        <p-table #dt [value]="ChildData" class="custom-table"
                         [customSort]="true">
                            <ng-template #header>
                                <tr>
                                    <th pSortableColumn="code">
                                        Code <p-sortIcon field="code" />
                                    </th>
                                    <th pSortableColumn="description">
                                        Description <p-sortIcon field="description" />
                                    </th>
                                    <th pSortableColumn="displayOrder">
                                        Display Order <p-sortIcon field="displayOrder" />
                                    </th>
                                    <th pSortableColumn="colorCode">
                                        Color Code <p-sortIcon field="colorCode" />
                                    </th>
                                    <th pSortableColumn="codeActicveDesc">
                                        Status <p-sortIcon field="codeActicveDesc" />
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-ChildData>
                                <tr>
                                    <td>{{ ChildData.code }}</td>
                                    <td>{{ ChildData.description }}</td>
                                    <td>{{ ChildData.displayOrder }}</td>
                                    <td>{{ ChildData.colorCode }}</td>
                                    <td>{{ ChildData.codeActicveDesc }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>