.ref-data-group {
  padding: 12px 0px 6px 11px;
  background: #f3f6f9;
  border-radius: 8px;
  height: calc(100vh - 188px);
  min-height: 250px;
  overflow: auto;
}
.ref-data-child-data {
  border-style: dashed;
  box-shadow: none;
  border-width: 1px;
  border-color: #dad4bf;
  border-radius: 10px;
  background: transparent;
  min-height: 250px;
  height: calc(100vh - 188px);
  min-height: 250px;
  overflow: auto;
  padding: 17px;
}
.ref-data-group h6,
.ref-data-child-data h6 {
  font-size: 1rem;
  font-weight: 500;
}
.add-group-btn {
  display: inline-flex;
  align-items: center;
  background-color: #009688; /* Teal color */
  color: white;
  border: none;
  border-radius: 999px;
  padding: 6px 16px;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.add-group-btn .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #009688;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  font-size: 14px;
}

.add-group-btn .icon i {
  line-height: 1;
  font-size: 12px;
}

.add-group-btn:hover {
  background-color: #058376;
  border-color: #058376;
  color: rgb(255, 255, 255);
}
.group-data {
  padding: 11px;
  border-radius: 16px 2px 0px 16px;
}
.group-data-header {
  padding: 1px 0px 1px 11px;
}
.group-data-active {
  background-color: #ffffff;
}

.ref-data-child-data-header {
  padding: 2px 9px 0px 35px;
}

.p-datatable-thead > tr > th {
  font-size: 13px;
  border-style: none !important;
}
.p-datatable-sortable-column {
  background-color: #153477 !important;
}

.p-icon {
  color: white;
  background-color: #153477 !important;
}
.p-datatable-tbody > tr {
  background-color: white !important;
  color: black !important;
  border-style: none !important;
}
.p-datatable-tbody > tr > td {
  border-style: solid !important;
  border-width: 0px !important;
}

/* Target even rows in the table body */
.p-datatable-tbody > tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

/* Target odd rows in the table body */
.p-datatable-tbody > tr:nth-child(odd) {
  background-color: #ffffff !important;
}
.p-datatable-table { 
  padding-top: 17px;
}

.p-datatable-table {
  font-size: 15px;
}