<footer class="footer-main text-white pt-3 pb-2 col-md-12 col-sm-12 col-lg-12">
  <div class="container-fluid px-4">
    <div class="row gx-5 gy-4">
      <div class="col-lg-4 col-md-4 col-sm-12 footer-list mb-4 justify-content-start">
        <div class="stay-in-touch text-center text-md-start">
          <img src="/assets/admin-images/login-page-image-2.png" alt="Logo" class="logo mb-3 img-fluid">
          <h4 class="footer-header">Stay In Touch</h4>
          <p class="footer-text">Sign up for exclusive offers, events and more.</p>
          <div class="email-subscribe d-flex flex-column flex-sm-row align-items-stretch">
            <input type="email" placeholder="Enter your email" class="form-control mb-2 mb-sm-0 me-sm-2" />
            <button class="arrow-button btn btn-light">➤</button>
          </div>
          <a href="/contact" class="contact-link mt-2 d-inline-block">Contact us</a>
        </div>
      </div>
      @for (item of footerData; track $index) {
      <div class="col-lg-4 col-md-4 col-sm-12 col-4 footer-list ">
        <p class="footer-header">{{ item.title }}</p>
        <ul class="list-unstyled">
          @for (child of item.links; track $index) {
          @if (child.type === 'TEMPLATE') {
          <li class="mb-2">
            <a [routerLink]="child.href + '/' + child.htcode" class="footer-link">{{ child.label }}</a>
          </li>
          } @else if (child.type === 'URL') {
          <li class="mb-2">
            <a [href]="child.href" target="_blank" class="footer-link"> <i [class]="child.icon"></i>
              {{ child.label }}</a>
          </li>
          }

          }
        </ul>
      </div>
      }
    </div>
  </div>
</footer>